body{
    margin: 0px;
}

.main{
    
    background: rgb(57,6,21);
    background: linear-gradient(180deg, rgba(57,6,21,1) 21%, rgba(0,0,0,1) 74%);
    width: 100%;
    height: 3403px;
    
}

.top-bar{
    width: 94%;
    margin-left: 3%;
    margin-top: 20px;
    float: left;
    position: fixed;
    z-index: 2;
}

.logo{
    width: 84%;
    float: left;
}

.buttons{
    display: flex;
    width: 16%;
    float: left;
    justify-content: space-around;
}

#logo-img{
    width: 150px;
}

#lang{
    background-color: #141010;
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 112px;
    height: 32px;
    margin-top: 13px;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
    font-weight: bold;
}


#sign-in-but{
    margin-top: 13px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: 0px;
    width: 80px;
    height: 32px;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
    font-weight: bold;
}

#sign-in-but:hover{
    background-color: rgb(184, 188, 192);
    transition: all 0.5s;
}

#sign-in-but:active{
    background-color: rgb(136, 138, 141);;
}

.sticky-bar{
    background-color: black;
    opacity: 80%;
    width: 420px;
    height:32px;
    display: flex;
    margin: auto;
    text-decoration: none;
    border-radius: 50px;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    left: 35%;
    top: 83px;
    z-index: 2;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

#link-bar{
    color: rgb(174, 161, 161);
    text-decoration: none;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

#link-bar:hover{
    color: white;
}

.scr{
    height:500px;
    padding-top: 140px;
}

.scree{
    width: 94%;
    border-radius: 20px;
    height: 520px;
    background-color:black;
}

.screen {
    width: 94%;
    margin: auto;
    --c: 70px;
    height: 600px;
    mask: radial-gradient(60% var(--c) at bottom,#0000 calc(100% - 2px),#000);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) -23%, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 22%);
    border-radius: 20px;

  }

#img-screen{
    margin-top: -140px;
    margin-left: -8px;
    width: 1500px;
    opacity: 40%;
    z-index: 0;

}

.screen-text{
    width: 94%;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -400px;
    margin-left: 45px;
    z-index: 1;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    user-select: none;
}

#head{
    font-weight: 900;
    font-size: 60px;
    font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

#description{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: larger;
}

.email-input{
    margin-top: 50px;
    width: 750px;
    height: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    justify-content: space-around;
}

#email-field{
    width: 500px;
    height: 50px;
    border-radius: 50px;
    border-color: gray;
    background-color: #101010;
    color: white;
    font-size: 15px;
    padding-left: 20px;
    border-style: solid;
    border-width: 1px;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
    font-weight: bold;
}

#get-started{
    width: 200px;
    height: 52px;
    border-radius: 50px;
    background-color: rgb(205, 16, 16);
    color: white;
    border: none;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}

#get-started:hover{
    opacity: 0.8;
}

#get-started:active{
    opacity: 0.6;
}

.horizontal{
    height: 330px;
    width: 82%;
    margin-left: 150px;
    overflow: hidden;
    margin-top: 50px;
}

.head-text{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    user-select: none;
}

.stickers{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 10px;
    padding-top: 10px;
    overflow-x: auto;
}

.stickers::-webkit-scrollbar{
    display: none;
}

.img{
    height: 250px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;

}

.img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.plans{
    height: 310px;
    width: 82%;
    margin-left: 150px;
    margin-top: 50px;
}

.plan-head{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    user-select: none;
}

.plan{
    width: 270px;
    height: 250px;
    border-radius: 20px;
    padding: 15px;
}

.plan-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#plan-1{
    background: rgb(20,25,131);
    background: linear-gradient(153deg, rgba(20,25,131,1) 18%, rgba(51,31,60,1) 71%);
    border-style: solid;
    border-color: rgb(81, 70, 70);
    border-width: 1px;
    cursor: pointer;
}

#plan-2{
    background: rgb(20,25,131);
    background: linear-gradient(153deg, rgba(20,25,131,1) 18%, rgba(51,31,60,1) 71%);
    border-style: solid;
    border-color: rgb(81, 70, 70);
    border-width: 1px;
    cursor: pointer;
}

.sp{
    width: 270;
    height: 220px;
    z-index: 1;
    margin-top: -23px;
}

#plan-3{
    background: rgb(97,37,110);
    background: linear-gradient(153deg, rgba(97,37,110,1) 21%, rgba(53,29,55,1) 60%);
    border-style: solid;
    border-color: rgb(81, 70, 70);
    border-width: 1px;
    cursor: pointer;
}

#plan-4{
    background: rgb(171,2,116);
    background: linear-gradient(153deg, rgba(171,2,116,1) 9%, rgba(68,13,113,1) 38%, rgba(48,26,45,1) 73%);
    border-style: solid;
    border-color: rgb(81, 70, 70);
    border-width: 1px;
    cursor: pointer;
}

.most-popular{
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: bold;
    background-color: rgb(134, 149, 149);
    width: 130px;
    height: 30px;
    margin-top: -14.5px;
    margin-left: 155px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    padding-top: 3px
}

#plan-1:hover,#plan-2:hover,#plan-3:hover,#plan-4:hover{
    filter: brightness(130%);
    transform: scale(1.01);
    transition: all 0.4s;
}

#pack{
    color:rgb(255, 255, 255);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 25px;
    user-select: none;
}

#pack-4{
    color:rgb(255, 255, 255);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 25px;
    margin-top: -12px;
    user-select: none;
}

#resolution{
    color: rgb(209, 209, 236);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    user-select: none;
}

ul{
    list-style-type:" \2713  ";
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    user-select: none;
}
.reason-block{
    height: 310px;
    width: 82%;
    margin-left: 150px;
    overflow: hidden;
    margin-top: 80px;
}

.reason-container{
    width: 270px;
    height: 135px;
    background-color: rgb(24 24 24);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px rgba(49, 48, 48, 0.7);
}

.reasons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.reason-content{
    width: 270px;
    height: 135px;
    color:rgb(255, 255, 255);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: bold;
    font-size: large;
}

.faq-body{
    margin-top: -50px;
    width: 82%;
    height: 600px;
    margin-left: 150px;
}

.question{
    width: 100%;
    height: 80px;
    color: white;
    background-color: rgb(24 24 24);
    border: solid 2px rgba(49, 48, 48, 0.7);
    border-radius: 20px;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;

}

.question:hover{
    background-color: rgb(44, 42, 42);
    transition: all 0.2s;
}

.bars{
    height: 520px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


.but-bottom{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#started-button{
    width: 160px;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(205, 16, 16);;
    color: white;
    border: none;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
    font-weight: 500;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
}

#started-button:hover{
    opacity: 0.8;
}

#started-button:active{
    opacity: 0.6;
}

#call-link{
    margin-left: 200px;
    margin-top: 50px;    
}

#phone{
    color: rgb(174, 161, 161);;
    font-size: medium;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
}

#link{
    color: rgb(174, 161, 161);
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
    font-size: medium;
    text-decoration: underline;
}

.link-table{
    margin-left: 200px;
    margin-top: 50px;
    width: 65%;
    height: 150px;
}

.lang-bottom{
    margin-top: 40px;
    margin-left: 200px;
}

#netflix-tag{
    margin-left: 200px;
    color: rgb(174, 161, 161);
    margin-top: 50px;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 500;
}